* {
    margin:0;
    padding:0;
  }

    /* Holds the variables used in the code for easy access and change */

  :root {
    --white: #fff;
    --backgroundheader: #1320d6;
    --backgroundheadertrim: #cc5612;
    --backgroundmain: #0072bb;
    --black: #000;
    --beige: #FDF8F5;
    --textalign: center;
  }
  /* Modifies the body sections */
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: var(--beige);
    color: var(--white);
  }
  
  h1,
  h2 {
    margin: 5px;
    float: left;
  }

  /* Sets the nav bar to orient to the right */

  .nav {
    text-align: right;
  }

  /* Allows the user to hover over the items in the nav bar and have them react to the cursor */

  .nav a:hover {
    background: rgb(211, 242, 252);
    color: var(--black);

  }
  a:link, a:visited {
    background-color: transparent;
    color: var(--white);
    padding: 0px 25px;
    text-align: var(--textalign);
    text-decoration: none;
    display: inline-block;
  }

  /* orients the list items in the nav bar */

  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  /* Stylizes the header */

  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: var(--backgroundheader);
    text-align: var(--textalign);
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid var(--backgroundheadertrim);
    margin-top: 10px;
  }
  
  /* Gives a background image to be used in the background for the header and top of page */

  .background{
    background-image: url("../images/Wood.jpg");
    background-size: cover;
    height: 300px;
    margin-bottom: 20px;
  }

  /* Position of the profile picture*/

  .profile-img {
    display: block;
    margin: 20px 10px;
    height: 150px; 
    width: 200px;
    float: left;
    margin-top: 100px;
  }

    /* Allows modifications to the main sections */

  .content {
    width: 100%;
    display: inline-block;
}
  /* Sets the about me, work, and contact me */
  .main-section{
  margin-bottom: 20px;
  padding: 50px;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--backgroundmain);
  color: var(--white);
} 

/* Allows the setting of margins for about me, work, and contact me */

.main-section h2 {
  margin: -10px 10px 10px 0;
  font-size: 20px;
}

/* A use of flex box to make the contact info wrap under eachother */

.main-section li a {
  color: var(--white);
  text-decoration: underline;
  display: flex;
  flex-wrap: wrap;
}

  /* Holds the grid elements of the page and their links to their images */
 .grid-container {
  display: grid;
  grid-template-rows: repeat(3 , 1fr);
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

  /* Makes the grid elements light up when hovered over */

.grid-container> div:hover {
  box-shadow: inset 0px 0px 8px rgb(243, 33, 33), 0 0 15px rgb(114, 45, 48);
}

/* creates the grid used in the work section */

.grid-container > div {
  text-align: var(--textalign);
  padding: 100px 100px;
  font-size: 30px;
  background-position: var(--textalign);
  background-size: cover;
}

/* sets the images and grid column length  */

.item1 {
  grid-column: 1 / 3;
  background-image: url("../images/purple-cool.jpg");
}

.item2 {
  background-image: url("../images/green-cool.jpg");
}

.item3 {
  background-image: url("../images/orange-cool.jpg");
}

.item4 {
  background-image: url("../images/cool.jpg");
}

.item5 {
  background-image: url("../images/square-cool.jpg");
}

  /* Allows for flex wrap to function for bottom options under contact me */
  .text-center {
    text-align: var(--textalign);
  }

  /* Media */
  @media screen and (max-width: 992px) {
    .grid-container {
      display: inline;
    }
    body {
      font-size: 15px;
    }
    a:link, a:visited {
      padding: 0 24px;
    }
    li {
      padding: 10px;
    }
    header, 
    footer {
      height: 60px;
      line-height: 60px;
    }
    .main-sections {
      margin: 20px 0 0 150px;
      padding: 50px;
    }
  }

  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    body {
      font-size: 10px;
    }
    a:link, a:visited {
      padding: 0 5px;
    }
    header,
    footer {
      height: 40px;
      line-height: 40px;
    }
  }